.overworld {
  border-radius: 25px;
  background: lime;
  color: #000000;
  padding: 20px;
  width: 250px;
  height: 70px;
}
.nether {
  border-radius: 25px;
  background: red;
  color: #000000;
  padding: 20px;
  width: 250px;
  height: 70px;
}

body {
  background-color: #000000;
  color: #FFFFFF
}
